parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method getHeader\(\) on Quillstack\\HeaderBag\\HeaderBag\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/AbstractResponse.php

		-
			message: '#^Cannot call method getHeaderLine\(\) on Quillstack\\HeaderBag\\HeaderBag\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/AbstractResponse.php

		-
			message: '#^Cannot call method getHeaders\(\) on Quillstack\\HeaderBag\\HeaderBag\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/AbstractResponse.php

		-
			message: '#^Cannot call method hasHeader\(\) on Quillstack\\HeaderBag\\HeaderBag\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/AbstractResponse.php

		-
			message: '#^Cannot call method withAddedHeader\(\) on Quillstack\\HeaderBag\\HeaderBag\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/AbstractResponse.php

		-
			message: '#^Cannot call method withHeader\(\) on Quillstack\\HeaderBag\\HeaderBag\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/AbstractResponse.php

		-
			message: '#^Cannot call method withoutHeader\(\) on Quillstack\\HeaderBag\\HeaderBag\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/AbstractResponse.php

		-
			message: '#^Method Quillstack\\Response\\AbstractResponse\:\:getBody\(\) should return Psr\\Http\\Message\\StreamInterface but returns Psr\\Http\\Message\\StreamInterface\|null\.$#'
			identifier: return.type
			count: 1
			path: src/AbstractResponse.php

		-
			message: '#^Method Quillstack\\Response\\AbstractResponse\:\:send\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/AbstractResponse.php

		-
			message: '#^Method Quillstack\\Response\\Factory\\ResponseFactory\:\:createResponse\(\) should return Psr\\Http\\Message\\ResponseInterface but returns object\.$#'
			identifier: return.type
			count: 1
			path: src/Factory/ResponseFactory.php

		-
			message: '#^Method Quillstack\\Response\\Response\:\:send\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Response.php
